* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right,#fec2c9,#f6dcb5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 300px;
    width: 380px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
label{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
form{
    height: 100px;
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    background-color: transparent;
}
.login{
    position: relative;
    right:-100px;
    width: 70px;
    height: 20px;
    border-radius:5px;
    border: none;
    background-color: #000;
    color: #fff;
}