body{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0085ff;
}
.main{
    height: 85%;
    width: 65%;
    background-color: #484888;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px rgb(64, 63, 63);
}

.small{
    height: 85%;
    width: 45%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px rgb(64, 63, 63);
}
input,select{
    margin-bottom:1.4rem;
    
}
select{
    width: 250px;
}
.gender,.check{
    margin-top:10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit{
    position: relative;
    left:180px;
    background-color: #0084ff;
    color: #fff;
}
