* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 50px;
}

.main {
  height: 350px;
  width: 600px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.child {
  height: 75px;
  width: 250px;
  border: 2px solid black;
}
.child3 {
  width: 500px;
}
.secondBox {
  height: 100px;
  width: 600px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box2{
    height: 75px;
    width: 350px;
    border: 2px solid black;
    border-radius: 3px;
}
.box1,
.box3 {
  height: 75px;
  width: 75px;
  border: 2px solid rgba(110, 63, 63, 0.676);
  border-radius: 3px;

}
.third{
    height: 350px;
  width: 600px;
  border: 2px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  position: relative;
  gap:10px;
}

.bar{
    height: 50px;
    border: 2px solid black;
    margin-left: 12px ;
    
}
.bar1{
    width: 260px;
    
}
.bar2{
    width: 350px;
    
}
.bar3{
    width: 430px;
    
}
.bar4{
    width: 170px;
    
}
.bar5{
    width: 210px;
    
}

