*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second{
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-rows:1fr 1fr;
    justify-items: center;
}
