*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}
.main{
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
.head{
    background-color:whitesmoke;
    height: auto;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 1;
}
header{
    background-color: whitesmoke;
    
    display: flex;
    justify-content: center;
    z-index: 1;
}
ul{
    margin: 40px;
    font-size: 1.4rem;
}
li{
    color: #333;
}
.logo{
    position: relative;
    left: -219px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    margin: 30px;
    font-size: 1.4rem;
}
.form{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
footer{
    display: flex;
    background-color:#2c479e;
    position: sticky;
    z-index: 1;
    bottom: 0;
}